{% load static %}
{% block content %}
{% if messages %}
<div class="alert alert-success"> {% for message in messages %}
    <strong>{{ message }}</strong> {% endfor %}
</div>{% endif %}
<a href="{% url 'proapp:create-data-course'       %}">Create</a>
<table border="1">
    <thead>
        <tr>
            <td>Course</td>
            <td>Created Date</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody> {% for obj in data_list%}
        <tr>
            <td> {{obj.course_name}}
            </td>
            <td> {{obj.course_created_date}}
            </td>
            <td> <a href="{% url 'proapp:update-data-course' obj.course_id %}">Update</a> <br> <a
                    href="{% url 'proapp:delete-data-course' obj.course_id %}">Delete</a> </td>
        </tr> {% empty%}
        <h1>Data masih kosong</h1> {% endfor %}
    </tbody>
</table>{% endblock %}